@model  IList<WebApiTreinoGo.Modelos.PedidoDeCompras>
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>WebApi Treino</h1>
        </div>
        <p>Essa Web Api é apenas um treino, com a implementação de teste de um simples pedido de compras, para que possa utilizar o frame work do Entity</p>
        <fieldset>
            <legend>Itens do Pedido de Compras</legend>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Aprovado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                    <th>
                    <td>@p.Id</td>
                    <td>@p.Status</td>
                    <td>@p.DataInclusao</td>
                    <td>@p.Valor</td>
                    <td>@p.Descricao</td>
                    <td>@p.Aprovado</td>
                </th>
                    }
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>